:root {
  --dark: rgb(49, 73, 120);
  --light: rgb(105, 205, 244);
}

.hero {
  background-image: url(./Images/125768-blue-and-white-abstract-crystal-background-image.jpeg);
  width: 100%;
  min-height: 200px;
  background-size: cover;
  overflow: hidden;
  padding: 50px;
}

#logo {
  max-width: 120px;
  max-height: auto;
  margin: 30px;
}

/* Monogram logo plus wordmark */
#logolockup {
  display: flex;
  justify-items: space-around;
  align-items: center;
}

/* Dyer Design page title */
h1 {
  font-family: paralucent;
  font-weight: bolder;
  -webkit-text-stroke: 3px var(--light);
  letter-spacing: 2px;
  font-size: 40px;
  color: var(--light);
  margin: 20px;
}

/* Contains all header content */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* navigation links */
div a {
  font-family: futura-bold;
  display: inline;
  font-size: 22pt;
  color: var(--dark);
  margin: 30px;
  text-align: center;
  text-decoration: none;
}

/* navigation links hover over */
a:hover {
  color: var(--light);
  text-shadow: -2px 4px 8px var(--dark);
}

body {
  background-color: white;
}

/* rotated section headers with underline */
h2 {
  font-family: futura-bold;
  text-align: center;
  font-size: 22pt;
  color: var(--dark);
  margin: 100px;
  padding: 50px;
  border-bottom: 10px solid var(--dark);
  transform: rotate(270deg);
  width: 200px;
}

/* about paragraph */
p {
  color: rgb(24, 24, 24);
  background-color: rgb(244, 244, 244);
  padding: 20px;
  margin-right: 50px;
  margin-left: 20px;
}

/* work grid  */
section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}

/* Grid applied to bottom 4 works */
#grid {
  display: flex;
  flex-wrap: wrap;
}

/* work image labels */
h3 {
  font-family: paralucent;
  text-align: left;
  font-size: 20pt;
  color: var(--dark);
  background-color: rgb(244, 244, 244);
  padding: 20px;
}

.work1 {
  background-image: url(./Images/screencapture-djdyer-github-io-code-refactor-2021-08-28-10_03_25\ copy.png);
  background-repeat: no-repeat;
  min-height: 600px;
  width: 1000px;
  background-size: contain;
  margin: 20px;
  border: 10px solid var(--dark);
}

.work2 {
  background-image: url(./Images/vrlabs_clay_presentation.jpeg);
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
  background-size: contain;
  margin: 20px;
  border: 10px solid var(--dark);
}

.work3 {
  background-image: url(./Images/thehundreds_cover_image3.jpeg);
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
  background-size: contain;
  margin: 20px;
  border: 10px solid var(--dark);
}

.work4 {
  background-image: url(./Images/PMD016_ADVERT_BANNER_REVISED.jpeg);
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
  background-size: contain;
  margin: 20px;
  border: 10px solid var(--dark);
}

.work5 {
  background-image: url(./Images/Expanse.png);
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
  background-size: contain;
  margin: 20px;
  border: 10px solid var(--dark);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(244, 244, 244);
  padding: 20px;
}

/* Email + Location */
h4 {
  font-family: paralucent;
  font-size: 18px;
  color: rgb(24, 24, 24);
  margin: 20px;
  font-style: normal;
  letter-spacing: 2px;
}

/* Social Icons */
.icon {
  max-width: 50px;
  max-height: auto;
  margin: 10px;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    justify-items: center;
  }

  .hero {
    padding: 25px;
  }

  #logo {
    max-width: 100px;
    max-height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #logolockup {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
  }

  nav div a {
    font-size: 18pt;
    display: block;
    margin: 30px;
  }

  h2 {
    transform: none;
    align-items: center;
  }

  p {
    margin: 0;
  }

  section,
  footer,
  address {
    flex-direction: column;
    justify-content: space-around;
  }

  .work1 .work2 .work3 .work4 .work5 {
    width: auto;
    height: auto;
  }

  .icon {
    width: 40px;
    height: auto;
  }
}
